@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    position: relative;
    .btnBuscar{
        position: relative;
        left: -5rem;
        top: 0.6rem;
        width: 40px;
        border: none;
        background-color: white;
        img{
            width: 100%;
        }
        :hover{
            cursor: pointer;
        }
      }

    height: 100vh;
    // background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(/img/pexels-cottonbro-7578800.jpg);
    background-color: #6C63FF;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 3rem;

    .barra-menu {
        margin: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .titulo {
            color: white;
            font-style: normal;
            font-size: 5rem;
            text-decoration: none;
            text-transform: capitalize;

            h2 {
                position: relative;
                left: -1rem;
                color: aquamarine;
            }
        }

        .btn {
            padding: 1rem;
            border: solid 1px white;
            margin-right: 2rem;
            color: white;
            text-transform: uppercase;
        }

        .btn-registrar {
            background-color: white;
            color: black;
            border: none;
        }
    }

    .flex {
        display: grid;
        grid-template-columns: 50% 50%;

        .imagen {
            height: 100vh;

            img {
                position: absolute;
                top: 0;
                left: -7rem;
                height: 100%;
                z-index: 0;


            }
        }
        .mensaje{
            margin: 5rem;
            color: white;
            text-transform: capitalize;
            p{
                color: v.$indigo;
                font-weight: bold;
            }
            input{
                width: 90%;
               font-size: 1.5rem;
               padding: 1rem;
               color: darkgray;
               outline: none;
               border: none;
               margin-bottom: 2rem;
            }
          
        }

       
    }

    .selecion{
        margin-top: 2rem;
        width: 200px;
        border: none;
        font-size: 1.5rem;
        padding: 1rem;
    }
}

.footer{
    background-color: #6C63FF;
    padding: 1rem;
    margin-top: 4rem;
  div{
    display: flex;
    justify-content: center;
    align-items: center;

    p{
        text-align: center;
        color: white;
        margin-right: 3rem;
        text-transform: capitalize;
    }
  }

}



