@use 'base/variables' as v;
@use 'base/mixins' as m;

.img{
    width: 100%;
    height: 100%;
}
.header{
    background-color:  #6c63ff;
    height: 100vh;
    color: white; 
    padding: 2rem;
    text-align: center;
    margin-bottom: 2rem;
       .titulo{
        color: white;
        font-size: 3rem;
        font-weight: bold;
        text-transform: capitalize;
        span{
            color: aquamarine;
        }
    }

    .flex{
      text-align: center;
      color: white;
      p{
        color: white;
      }
    }
    .btn{
      @include m.boton(#2563eb,v.$blanco);
      a{
        font-size: 1.5rem;
        color: white;
      }
      &:hover{
        background-color: #2dd4ac;/* Color al pasar el mouse */
      }
    }
}

@include m.tablet{
 .header{
  text-align: left;
  padding: 1rem;
  .flex{
    display: flex;
    justify-content: center;
    align-items: center;
    .imagen{
      width: 200rem;
      margin-top: -6rem;
    }
  }
  .btn{
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: inline-block;
    a{
      color: white;
    }
   }
 } 
}



.footer{
    background-color: #6C63FF;
    padding: 2rem;
    margin-top: 3rem;
  div{
    display: flex;
    justify-content: center;
    align-items: center;

    p{
        text-align: center;
        color: white;
        margin-right: 3rem;
        text-transform: capitalize;
    }
  }

}
